a {
  all: unset;
  cursor: pointer;
}
* {
  padding: 0px;
  margin: 0px;
}

p,
span,
label {
  color: #9b9c9d;
}

button {
  background-color: #2e2e33;
  padding: 0.5rem;
  color: #9ec9f6;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  align-self: flex-start;
  width: 30%;
}

input,
textarea {
  background-color: #2e2e33;
  color: #9b9c9d;
  border: none;
  padding: 0.8rem;
  font-size: 18px;
}

textarea {
  height: 80px;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
}

body {
  background-color: #1d1e20;

  margin: auto;
  max-width: 48rem;
  padding: 1.5rem;
}

main {
  height: 100vh;
  padding-top: 2rem;
}

.top-nav {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.joao-icon {
  width: 30px;
  height: 30px;
}

#home-link {
  font-size: 1.2rem;
}

.boas-vindas {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 5rem;
}

.create-new-post {
  text-decoration: underline;
  color: #9ec9f6;
}

h2,
h3 {
  color: #bfbfc0;
}

.top-nav-right-div {
  display: flex;
  gap: 2rem;
}

.welcome-title {
  font-size: 32px;
}

.linkedin-icon,
.mail-icon,
.github-icon,
.leetcode-icon {
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
}

.posts {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-structure {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5px;
  background-color: #2e2e33;
  padding: 1rem;
}

#post-detail-container {
  margin-top: 3rem;
}

.back {
  text-decoration: underline;
  cursor: pointer;
  color: #9ec9f6;
}

.post-detail-title {
  font-size: 40px;
  text-align: center;
}

.post-detail-published {
  text-align: center;
  display: block;
}

.post-detail-description {
  margin-top: 2rem;
}

.post-image-delete,
.post-image-edit {
  width: 20px;
  height: 20px;
}

.image-title-container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  display: flex;
  gap: 1rem;
}

#post-form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
